#wrapper {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
    font: normal 14px Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

    #wrapper > header {
    }

#user-nickname {
    font-weight: bold;
    font-size: 1.1em;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #444;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    background-color: #ccc;
}

#open-games-container {
    float: left;
}

#active-games-container {
    float: right;
}

#content {
    zoom: 1;
}

    #content:after {
        clear: both;
        display: block;
        height: 0;
        content: "";
    }

#create-game-holder {
    display: inline-block;
    text-align: right;
}

.button.selected {
    font-weight: bold;
}

.game-list {
    list-style-type: none;
    display: inline-block;
    text-align: left;
}

#active-games-container a, #open-games-container a {
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

    #active-games-container a:hover, #open-games-container a:hover {
        text-decoration: underline;
    }

#active-games-container .full {
    color: #bbb;
}

#game-state {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

    #game-state .guess-holder {
        text-align: center;
        margin: 0 auto;
    }

#error-messages {
    color: #a30124;
}

.custom-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background: -moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color: #9dce2c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #83c41a;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #689324;
}

    .custom-btn:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
        background: -moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
        background-color: #8cb82b;
    }

    .custom-btn:active {
        position: relative;
        top: 1px;
    }
